@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200;300;400;500&display=swap');

.font-family-karla { font-family: 'IBM Plex Sans Thai'; }
.bg-sidebar { background: #3d68ff; }
.cta-btn { color: #3d68ff; }
.active-nav-link { background: #1947ee; }
.nav-item:hover { background: #1947ee; }
.account-link:hover { background: #3d68ff; }

@tailwind base;
@tailwind components;
@tailwind utilities;